@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primary antialiased overflow-hidden selection:bg-accent selection:text-white;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-surface;
}
::-webkit-scrollbar-thumb {
  @apply bg-secondary/20 rounded-full hover:bg-secondary/40 transition-colors;
}
